@model InventoryAccounting.Models.DB.Companies

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CompanyName</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DirectorsName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DirectorsName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DirectorsPhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DirectorsPhone)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Unp">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
