@model InventoryAccounting.Models.DB.Tmc

@{
    Layout = null;
    string action = ViewContext.RouteData.Values["Action"].ToString();
}

<form asp-action="@action" id="form">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="InventoryNumber" class="col-form-label"></label>
            <input asp-for="InventoryNumber" data-inputmask="'mask': '999999999'" class="form-control"/>
            <span asp-validation-for="InventoryNumber" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="FactoryNumber" class="col-form-label"></label>
            <input asp-for="FactoryNumber" class="form-control"/>
            <span asp-validation-for="FactoryNumber" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Name" class="col-form-label"></label>
            <input asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="TypeId" class="col-form-label"></label>
            <div class="input-group">
                <select id="TmcTypesSelect" asp-for="TypeId" class="form-control"></select>
                <div class="input-group-append">
                    <a href="#" class="btn btn-outline-secondary" onclick="UpdateTmcTypes()"><i class="fas fa-redo-alt"></i></a>
                    <a href="#" class="btn btn-outline-secondary" data-target="#modal-container" data-toggle="modal" data-url="@Url.RouteUrl(new {controller = "TmcTypes", action = "Create"})"><i class="fas fa-plus"></i></a>
                    <a href="#" id="edit-tmc-type" class="btn btn-outline-secondary" data-target="#modal-container" data-toggle="modal"><i class="fas fa-edit"></i></a>
                    <a href="#" id="delete-tmc-type" class="btn btn-outline-secondary" data-target="#modal-container" data-toggle="modal"><i class="fas fa-trash"></i></a>
                </div>
            </div>
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="col-form-label"></label>
        <textarea asp-for="Description" class="form-control" rows="3"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label asp-for="PurchaseDate" class="col-form-label"></label>
            <input asp-for="PurchaseDate" type="date" class="form-control"/>
            <span asp-validation-for="PurchaseDate" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="WriteOffDate" class="col-form-label"></label>
            <input asp-for="WriteOffDate" type="date" class="form-control"/>
            <span asp-validation-for="WriteOffDate" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="WarrantyDate" class="col-form-label"></label>
            <input asp-for="WarrantyDate" type="date" class="form-control"/>
            <span asp-validation-for="WarrantyDate" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label asp-for="ResponsiblePersonId" class="col-form-label"></label>
            <div class="input-group">
                <select id="PersonsSelect" asp-for="ResponsiblePersonId" class="form-control"></select>
                <div class="input-group-append">
                    <a href="#" class="btn btn-outline-secondary" onclick="UpdatePersons()">
                        <i class="fas fa-redo-alt"></i>
                    </a>
                    <a href="#" class="btn btn-outline-secondary" data-target="#modal-container" data-toggle="modal" data-url="@Url.RouteUrl(new {controller = "Persons", action = "Create"})">Добавить</a>
                </div>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="RoomId" class="col-form-label"></label>
            <div class="input-group">
                <select id="RoomsSelect" asp-for="RoomId" class="form-control"></select>
                <div class="input-group-append">
                    <a href="#" class="btn btn-outline-secondary" onclick="UpdateRooms()">
                        <i class="fas fa-redo-alt"></i>
                    </a>
                    <a href="#" class="btn btn-outline-secondary" data-target="#modal-container" data-toggle="modal" data-url="@Url.RouteUrl(new {controller = "Rooms", action = "Create"})">Добавить</a>
                </div>
            </div>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="ActId" class="col-form-label"></label>
            <div class="input-group">
                <select id="ActsSelect" asp-for="ActId" class="form-control"></select>
                <div class="input-group-append">
                    <a href="#" class="btn btn-outline-secondary" onclick="UpdateActs()">
                        <i class="fas fa-redo-alt"></i>
                    </a>
                    <a href="#" class="btn btn-outline-secondary" data-target="#modal-container" data-toggle="modal" data-url="@Url.RouteUrl(new {controller = "Acts", action = "CreateModal"})">Добавить</a>
                </div>
            </div>
        </div>
    </div>
</form>