@model IEnumerable<InventoryAccounting.Models.DB.Tmc>

@{
    Layout = null;
}
<div class="btn-group nav nav-pills nav-fill" data-toggle="buttons">
    <label class="btn btn-outline-success active toggle-vis" data-column="0">
        <input type="checkbox" hidden="true" autocomplete="off">@Html.DisplayNameFor(model => model.InventoryNumber)
        <span class="fa fa-check "></span>
    </label>

    <label class="btn btn-outline-success active toggle-vis" data-column="1">
        <input type="checkbox" hidden="true" autocomplete="off">@Html.DisplayNameFor(model => model.Name)
        <span class="fa fa-check"></span>
    </label>

    <label class="btn btn-outline-success active toggle-vis" data-column="2">
        <input type="checkbox" hidden="true" autocomplete="off">@Html.DisplayNameFor(model => model.Description)
        <span class="fa fa-check"></span>
    </label>

    <label class="btn btn-outline-success active toggle-vis" data-column="3">
        <input type="checkbox" hidden="true" autocomplete="off">@Html.DisplayNameFor(model => model.TypeId)
        <span class="fa fa-check"></span>
    </label>

    <label class="btn btn-outline-success active toggle-vis" data-column="4">
        <input type="checkbox" hidden="true" autocomplete="off">@Html.DisplayNameFor(model => model.PurchaseDate)
        <span class="fa fa-check"></span>
    </label>

    <label class="btn btn-outline-success active toggle-vis" data-column="5">
        <input type="checkbox" hidden="true" autocomplete="off">@Html.DisplayNameFor(model => model.FactoryNumber)
        <span class="fa fa-check"></span>
    </label>

    <label class="btn btn-outline-success active toggle-vis" data-column="6">
        <input type="checkbox" hidden="true" autocomplete="off">@Html.DisplayNameFor(model => model.WriteOffDate)
        <span class="fa fa-check"></span>
    </label>

    <label class="btn btn-outline-success active toggle-vis" data-column="7">
        <input type="checkbox" hidden="true" autocomplete="off">@Html.DisplayNameFor(model => model.WarrantyDate)
        <span class="fa fa-check"></span>
    </label>

    <label class="btn btn-outline-success active toggle-vis" data-column="8">
        <input type="checkbox" hidden="true" autocomplete="off">@Html.DisplayNameFor(model => model.Act)
        <span class="fa fa-check"></span>
    </label>

    <label class="btn btn-outline-success active toggle-vis" data-column="9">
        <input type="checkbox" hidden="true" autocomplete="off">@Html.DisplayNameFor(model => model.ResponsiblePerson)
        <span class="fa fa-check"></span>
    </label>

    <label class="btn btn-outline-success active toggle-vis" data-column="10">
        <input type="checkbox" hidden="true" autocomplete="off">@Html.DisplayNameFor(model => model.Room)
        <span class="fa fa-check"></span>
    </label>
</div>
<table class="table" id="main-table" data-url="@Url.Action("Index")">
    <thead>
    <tr>
        <th scope="col">
            @Html.DisplayNameFor(model => model.InventoryNumber)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.TypeId)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.FactoryNumber)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.WriteOffDate)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.WarrantyDate)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Act)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.ResponsiblePerson)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Room)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InventoryNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FactoryNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WriteOffDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarrantyDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Act.ActNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResponsiblePerson.FirstName) @Html.DisplayFor(modelItem => item.ResponsiblePerson.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="far fa-edit text-dark fa-1x"></a>
                <a href="#" class="fas fa-info-circle text-dark fa-1x" data-target="#modal-container" data-toggle="modal" data-url="@Url.RouteUrl(new {Action = "Details", Id = item.Id})"></a>
                <a href="#" class="far fa-trash-alt text-dark fa-1x" data-target="#modal-container" data-toggle="modal" data-url="@Url.RouteUrl(new {Action = "Delete", Id = item.Id})"></a>
            </td>
        </tr>
    }
    </tbody>
</table>