@model InventoryAccounting.Models.DB.Contracts

@{
    Layout = null;
}
<div class="container-fluid">
    <div class="row my-1">
        <span class="col-md-4 font-weight-bold">@Html.DisplayNameFor(model => model.ContractNumber)</span>
        <span class="col-md-8">@Html.DisplayFor(model => model.ContractNumber)</span>
    </div>
    <div class="row my-1">
        <span class="col-md-4 font-weight-bold">@Html.DisplayNameFor(model => model.Company)</span>
        <span class="col-md-8">@Html.DisplayFor(model => model.Company.Name)</span>
    </div>
    <div class="row my-1">
        <span class="col-md-4 font-weight-bold">@Html.DisplayNameFor(model => model.Type)</span>
        <span class="col-md-8">@Html.DisplayFor(model => model.Type)</span>
    </div>
    <div class="row my-1">
        <span class="col-md-4 font-weight-bold">@Html.DisplayNameFor(model => model.CompilationDate)</span>
        <span class="col-md-8">@Html.DisplayFor(model => model.CompilationDate)</span>
    </div>
    <div class="row my-1">
        <span class="col-md-4 font-weight-bold">@Html.DisplayNameFor(model => model.ExpirationDate)</span>
        <span class="col-md-8">@Html.DisplayFor(model => model.ExpirationDate)</span>
    </div>
</div>