@model IEnumerable<InventoryAccounting.Models.DB.Acts>

<table class="table" id="main-table" data-url="@Url.Action("Index")">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.ActNumber)</th>
        <th>@Html.DisplayNameFor(model => model.ContractId)</th>
        <th>@Html.DisplayNameFor(model => model.Type)</th>
        <th>@Html.DisplayNameFor(model => model.CompilationDate)</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ActNumber)</td>
            <td>@Html.DisplayFor(modelItem => item.Contract.ContractNumber)</td>
            <td>@Html.DisplayFor(modelItem => item.Type)</td>
            <td>@Html.DisplayFor(modelItem => item.CompilationDate)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="far fa-edit text-dark fa-1x"></a>
                <a href="#" class="fas fa-info-circle text-dark fa-1x" data-target="#modal-container" data-toggle="modal" data-url="@Url.RouteUrl(new {Action="Details", Id=item.Id})"></a>
                <a href="#" class="far fa-trash-alt text-dark fa-1x" data-target="#modal-container" data-toggle="modal" data-url="@Url.RouteUrl(new {Action="Delete", Id=item.Id})"></a>
            </td>
        </tr>
    }
    </tbody>
</table>

