@model IEnumerable<InventoryAccounting.Models.DB.Rooms>
<table class="table" id="main-table" data-url="@Url.Action("Index")">
    <thead>
    <tr>
        <th scope="col">@Html.DisplayNameFor(model => model.Name)</th>
        <th scope="col">@Html.DisplayNameFor(model => model.Floor)</th>
        <th scope="col">@Html.DisplayNameFor(model => model.Number)</th>
        <th scope="col">@Html.DisplayNameFor(model => model.Phone)</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Floor)</td>
            <td>@Html.DisplayFor(modelItem => item.Number)</td>
            <td>@Html.DisplayFor(modelItem => item.Phone)</td>
            <td>
                <a href="#" class="far fa-edit text-dark fa-1x" data-target="#modal-container" data-toggle="modal" data-url="@Url.RouteUrl(new {Action="Edit", Id=item.Id})"></a>
                <a href="#" class="fas fa-info-circle text-dark fa-1x" data-target="#modal-container" data-toggle="modal" data-url="@Url.RouteUrl(new {Action="Details", Id=item.Id})"></a>
                <a href="#" class="far fa-trash-alt text-dark fa-1x" data-target="#modal-container" data-toggle="modal" data-url="@Url.RouteUrl(new {Action="Delete", Id=item.Id})"></a>
            </td>
        </tr>
    }
    </tbody>
</table>