@model IEnumerable<InventoryAccounting.Models.DB.Rooms>
<div class="btn-group" data-toggle="buttons">
			
    <label class="btn btn-success active toggle-vis" data-column="0" >
        <input type="checkbox" hidden="true" autocomplete="off">@Html.DisplayNameFor(model => model.Name)
        <span class="fa fa-check "></span>
    </label>

    <label class="btn btn-primary active toggle-vis" data-column="1">
        <input type="checkbox" hidden="true" autocomplete="off">@Html.DisplayNameFor(model => model.Floor)
        <span class="fa fa-check"></span>
    </label>			
		
    <label class="btn btn-info active toggle-vis" data-column="2">
        <input type="checkbox" hidden="true" autocomplete="off">@Html.DisplayNameFor(model => model.Number)
        <span class="fa fa-check"></span>
    </label>			
		
    <label class="btn btn-danger active toggle-vis" data-column="3">
        <input type="checkbox" hidden="true" autocomplete="off">@Html.DisplayNameFor(model => model.Phone)
        <span class="fa fa-check"></span>
    </label>	
</div>
<table class="display nowrap" id="main-table" data-url="@Url.Action("Index")">
    <thead>
    <tr>
        <th scope="col">@Html.DisplayNameFor(model => model.Name)</th>
        <th scope="col">@Html.DisplayNameFor(model => model.Floor)</th>
        <th scope="col">@Html.DisplayNameFor(model => model.Number)</th>
        <th scope="col">@Html.DisplayNameFor(model => model.Phone)</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Floor)</td>
            <td>@Html.DisplayFor(modelItem => item.Number)</td>
            <td>@Html.DisplayFor(modelItem => item.Phone)</td>
            <td>
                <a href="#" class="far fa-edit text-dark fa-1x" data-target="#modal-container" data-toggle="modal" data-url="@Url.RouteUrl(new {Action="Edit", Id=item.Id})"></a>
                <a href="#" class="fas fa-info-circle text-dark fa-1x" data-target="#modal-container" data-toggle="modal" data-url="@Url.RouteUrl(new {Action="Details", Id=item.Id})"></a>
                <a href="#" class="far fa-trash-alt text-dark fa-1x" data-target="#modal-container" data-toggle="modal" data-url="@Url.RouteUrl(new {Action="Delete", Id=item.Id})"></a>
            </td>
        </tr>
    }
    </tbody>
</table>