@model IEnumerable<InventoryAccounting.Models.DB.Rooms>

@{
    ViewData["Title"] = "Помещения";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="modal-container" class="modal fade bd-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>
<div class="row">
    <div class="container-fluid my-2">
        <div class="row">
            <h2>Помещения</h2>
            <a asp-action="Create" class="fas fa-plus-circle fa-2x ml-auto text-dark"></a>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => model.Name)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Floor)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Number)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Phone)</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Floor)</td>
                <td>@Html.DisplayFor(modelItem => item.Number)</td>
                <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="far fa-edit text-dark fa-1x" data-target=".bd-modal-xl" data-toggle="modal"></a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="fas fa-info-circle text-dark fa-1x" data-target=".bd-modal-xl" data-toggle="modal"></a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="far fa-trash-alt text-dark fa-1x" data-target=".bd-modal-xl" data-toggle="modal"></a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
